<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      <title>Detail of Product</title>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
          <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
        <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
  </head>
  <body class="">
    <div class="wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
          <div class="container">
            <span>
                <a class='navbar-brand' rel="nofollow">
                    REST framework
                </a>
            </span>
            <ul class="nav navbar-nav pull-right">
            </ul>
          </div>
        </div>
      <div class="container">
          <ul class="breadcrumb">
                <li><a href="{%url 'product'%}">List of Product </a></li>
                <li class="active"><a href="{%url 'productdetail' pk %}">Detail of Product</a></li>
      </ul>
        <!-- Content -->
        <div id="content">
            <form id="get-form" class="pull-right">
              <fieldset>

                  <div class="btn-group format-selection">
                    <a class="btn btn-primary js-tooltip" href="{%url 'productdetail' pk%}" rel="nofollow" title="Make a GET request on the Product Detail resource">GET</a>

                    <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">

                        <li>
                          <a class="js-tooltip format-option" href="{%url 'productdetail' pk%}" rel="nofollow" title="Make a GET request on the Product Detail resource with the format set to `json`">json</a>
                        </li>

                        <li>
                          <a class="js-tooltip format-option" href="{%url 'productdetail' pk%}" rel="nofollow" title="Make a GET request on the Product Detail resource with the format set to `api`">api</a>
                        </li>

                    </ul>
                  </div>

              </fieldset>
            </form>
            <form class="button-form" action="{%url 'productdetail' pk%}" data-method="OPTIONS">
              <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the Product Detail resource">OPTIONS</button>
            </form>
            <div class="content-main">
              <div class="page-header">
                <h1>Product Detail</h1>
              </div>
              <div style="float:left">
              </div>
              <div class="request-info" style="clear: both" >
                <pre class="prettyprint"><b>GET</b> /products/1/</pre>
              </div>

              <div class="response-info">
                <pre class="prettyprint"><span class="meta nocode"><b>HTTP 200 OK</b>
<b>Allow:</b> <span class="lit">GET, PUT, PATCH, DELETE, HEAD, OPTIONS</span>
<b>Content-Type:</b> <span class="lit">application/json</span>
<b>Vary:</b> <span class="lit">Accept</span>

</span>
{{serializer}}
</pre>
              </div>
            </div>
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
      </script>
      <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
      <script src="/static/rest_framework/js/ajax-form.js"></script>
      <script src="/static/rest_framework/js/csrf.js"></script>
      <script src="/static/rest_framework/js/bootstrap.min.js"></script>
      <script src="/static/rest_framework/js/prettify-min.js"></script>
      <script src="/static/rest_framework/js/default.js"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
  </body>
</html>
